html{
    scroll-behavior: smooth;
    background-color: #000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto+Slab:wght@100..900&display=swap');



section, header {
    scroll-margin-top: 90px;
}

section {
    scroll-margin-top: 100px;
}

header {
    scroll-margin-top: 100px
}

body{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}
.wrapper {
    max-width: 1800px;
    width: 90%;
    margin: auto;
    padding: 0px 20px ;
}

/*
* menu
*/
nav {
    background-color:#1C0770 ;
    color: aqua;
    position: sticky;
    top: 0;
    z-index: 100;
}
nav  > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

.menu {
    width: auto;
  
}

.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

.menu > ul > li > a {
    text-decoration: none;
    color: whitesmoke;
    transition: 0.3s;
    padding: 5px 10px;
}

.klik:hover {
    transform: scale(1.05) translateY(-3px);
    color: aqua;
    background-color: #2c3e50;
    border-radius: 5px;
}


/*****/


header {
    background: url("../galeri/beranda.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

header > .lalala{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
}

.teks-utama {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;   
}
.teks-utama h1{
  margin: 0;
  font-size: 53px;
  color: #FFFFFF;
  font-weight: bold;
   font-family: "Montserrat", sans-serif;
  
}
  

.teks-utama > h2 {
    font-size: 53px;
    color: #00D4FF;
    margin: 0;
    font-weight: 300;
     font-family: "Montserrat", sans-serif;
}

.teks-utama h3 {
    font-size: 30px;
    color: #ADB5BD;
}



.button {
    display: inline-block;
    background-color: #007BFF;
    color: #6610F2;
    padding: 12px 28px;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease;
    text-decoration: none;
    margin-top: 20px;
}

.button:hover {
    transform: scale(1.05) translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    background-color: #2c3e50
}

.button-xl{
    font-size: 1.4rem;
    padding: 15px 30px;
    width: fit-content;
}

.wajah-saya {
    display: flex;
    justify-content: center;
    align-items: center;

}

.wajah-saya .foto-profil {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid white;
}

section {
    margin: 0;
    padding: 100px 0;
    display: block;
    overflow: hidden;
}

.bagian-profil {
    background: url(../galeri/revisi.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.wrapper-profil h1 {
    color: #00E5FF;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Orbitron", sans-serif;

}

.tex-profil {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.isi-profil {
    max-width: 900px;
    width: 90%;
    padding: 20px;
    align-items: center;
    background: rgba(15, 23, 42, 0.6);
    backdrop-filter: blur(10px);
    border: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}

.isi-profil h2{
    color: #00D4FF;
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-family: "orbitron", sans-serif;
}

.isi-profil h3{
    color: #B0C4DE;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.1rem;
    font-family: "Roboto Slab", serif;
}



.bagian-skill {
    background:  url(../galeri/revisi.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 80vh;
    display: flex;
    flex-direction: column;

   
}

.wrapper-skill h1 {
    align-items: center;
    text-align: center;
    color: #00D4FF;
    font-size: 50px;
    margin-bottom: 10px;
    font-family: "orbitron", sans-serif;
}

.text-skill {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.isi-skill-1 {
    width: 320px;
    margin: 50px;
    background: rgba(15, 23, 42, 0.6);
    backdrop-filter: blur(10px);
    border:  rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.5);
}
.isi-skill-1 h2 {
    align-items: center;
    text-align: center;
    color: #00D4FF;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: "orbitron", sans-serif;

}

.isi-skill-1 p {
    align-items: center;
    text-align: center;
    color: #B0C4DE;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: "orbitron", sans-serif;

}

.isi-skill-2{
    width: 320px;
    margin: 50px;
    background: rgba(15, 23, 42, 0.6);
    backdrop-filter: blur(10px);
    border:  rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.5);
}

.isi-skill-2 h3 {
    align-items: center;
    text-align: center;
    color: #00D4FF;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: "orbitron", sans-serif;

}

.isi-skill-2 p {
    align-items: center;
    text-align: center;
    color: #B0C4DE;
    font-size:  1.5rem;
    margin-bottom: 10px;
    font-family: "orbitron", sans-serif;

}

.isi-skill-3{
    width: 320px;
    margin: 50px;
    background: rgba(15, 23, 42, 0.6);
    backdrop-filter: blur(10px);
    border:  rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.5);
}

.isi-skill-3 h4 {
    align-items: center;
    text-align: center;
    color: #00D4FF;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: "orbitron", sans-serif;

}

.isi-skill-3 p {
    align-items: center;
    text-align: center;
    color: #B0C4DE;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: "orbitron", sans-serif;

}

.bagian-penugasan {
    background: url(../galeri/revisi.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-penugasan h1 {
        align-items: center;
    text-align: center;
    color: #00D4FF;
    font-size: 50px;
    margin-bottom: 10px;
    font-family: "orbitron", sans-serif;

}

.isi-tugas-2 {
    max-width: 1100px;
    width: 90%;
    padding: 20px;
    align-items: flex-start;
    background: rgba(15, 23, 42, 0.6);
    backdrop-filter: blur(10px);
    border:  rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.5);
    margin: 20px auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
   
}

.isi-tugas-2 h2 {
    color: #00D4FF;
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-family: "orbitron", sans-serif;

}

.isi-tugas-2 p {
    color: #B0C4DE;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.1rem;
    font-family: "Roboto Slab", serif;

}

.tombol-TOR {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.tombol-TOR a {
    font-size: 15px;
}

.btn-tor {
    display: inline-block;
    background-color: #007BFF;
    color: #6610F2;
    padding: 6px 20px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease;
    text-decoration: none;
    margin-top: 5px;
}

.btn-tor:hover {
  
    background-color: #2c3e50
}

.btn-kuning {
    font-size: 1.4rem;
    padding: 15px 30px;
    width: fit-content;
}

.isi-tugas-3 {

        max-width: 1100px;
    width: 90%;
    padding: 20px;
    align-items: flex-start;
    background: rgba(15, 23, 42, 0.6);
    backdrop-filter: blur(10px);
    border:  rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.5);
    margin: 20px auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    
}

.isi-tugas-3 h3{
    color: #00D4FF;
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-family: "orbitron", sans-serif;

}

.isi-tugas-3 img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 8px;
}

.btn-download {
    display: inline-block;
    margin-top: 25px;
    align-self: center;
    padding: 10px 20px;
    background-color: azure;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.btn-download:hover {
    background-color: bisque;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}



.fitur-kontak {
    background: url(../galeri/revisi.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    height: 50vh;

   
}

.wrapper-kontak > h1 {
    align-items: center;
    text-align: center;
    color: #00D4FF;
    font-size: 50px;
    margin-bottom: 10px;
    font-family: "orbitron", sans-serif;
}

.wrapper-kontak > p {
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: #dde6ed;
}

.fa-square-instagram {
    font-size: 150px;
    padding: 15px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    align-items: center;
    justify-content: center;
}

.fa-github {
   font-size: 150px;
   color: white;
}

.fa-whatsapp {
    font-size: 150px;
    color: #25D366;
}

.fa-linkedin {
    font-size: 150px;
    color: #0077B5;
}

.fa-github:hover {
    transform: scale(1.3) translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);

}

.fa-whatsapp:hover {
    transform: scale(1.3) translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);

}

.fa-square-instagram:hover{
    transform: scale(1.3) translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);

}

.fa-linkedin:hover{
    transform: scale(1.3) translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);

}

.icon-kontak {
    text-align: center;
    padding: 100px;
}

.bagian-portopolio {
    background: url(../galeri/revisi.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



.isi-porto {
    align-items: center;
    text-align: center;
    color: #00D4FF;
    font-size: 50px;
    margin-bottom: 10px;
    font-family: "orbitron", sans-serif;
    padding: 10px;

}

.ptik {
        max-width: 900px;
    width: 90%;
    padding: 10px;
    align-items: flex-start;
    background: rgba(15, 23, 42, 0.6);
    backdrop-filter: blur(10px);
    border:  rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.5);
    margin: 20px auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.ptik h1 {
    color: #00D4FF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;

}

.ptik h2 {
        align-items: center;
    text-align: center;
    color: #B0C4DE;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: "orbitron", sans-serif;
}

.ptik:hover {
        transform: scale(1.05) translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    background-color: #2c3e50
}

.ptik2 {
    max-width: 900px;
    width: 90%;
    padding: 10px;
    align-items: flex-start;
    background: rgba(15, 23, 42, 0.6);
    backdrop-filter: blur(10px);
    border:  rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.5);
    margin: 20px auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.ptik2 h1 {
        color: #00D4FF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;


}

.ptik2 h2 {
            align-items: center;
    text-align: center;
    color: #B0C4DE;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: "orbitron", sans-serif;

}

.ptik2:hover {
            transform: scale(1.05) translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    background-color: #2c3e50
}

.isi-porto{
        display: flex;
    justify-content: center;
    gap: 50px;
}


@media screen and (max-width: 768px) {
    
    
    .menu {
        display: none; 
        width: 100%;
    }

    .menu.active {
        display: block; 
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #1C0770;
        padding: 20px;
        text-align: center;
    }

    .menu > ul {
        flex-direction: column;
        gap: 15px;
    }

    .menu-toggle {
        display: block;
        font-size: 28px;
        color: aqua;
        cursor: pointer;
    }

    header > .lalala {
        flex-direction: column-reverse; 
        text-align: center;
        gap: 30px;
        padding-top: 50px;
    }

    .teks-utama h1, .teks-utama > h2 {
        font-size: 35px;
    }

    .wajah-saya .foto-profil {
        width: 250px;
        height: 250px;
    }

    .text-skill {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .isi-skill-1, .isi-skill-2, .isi-skill-3 {
        width: 90%;
        margin: 10px 0;
    }

    .icon-kontak i {
        font-size: 80px;
    }
}

.menu-toggle {
    display: none;
}

.isi-tugas-4 {
    max-width: 1100px;
    width: 90%;
    padding: 20px;
    background: rgba(15, 23, 42, 0.6);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.5);
    margin: 20px auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.isi-tugas-4 h4{
    color: #00D4FF;
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-family: "orbitron", sans-serif;

}.isi-tugas-4 video{
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
    object-fit: cover;
}
